* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:focus {
  outline: none;
  outline-offset: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}
.box {
  padding: 50px 0;
  margin: 50px auto;
  width: 30em; 
  border: 2px solid black;
  border-radius: 5px;
}
@media screen and (max-width: 480px) {
  .box {
    width: 20em;
  }
}
@media screen and (max-width: 320px) {
  .box {
    width: 15em;
  }
}
.box-p {
  padding-bottom: 10px;
}
.form input {
  width: 80%;
  height: 50px;
  padding-left: 10px;
  margin-top: 30px;
  border-radius: 5px;
}
.form input:focus {
  border-color: whitesmoke;
}
input:-webkit-autofill {
  box-shadow: whitesmoke;
  -webkit-box-shadow: 0 0 0px 1000px whitesmoke inset;
}
.btn {
  margin-top: 30px;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.801);
  color: whitesmoke;
  transition: background-color 2s;
}
.btn:hover {
  color: whitesmoke;
}
.dashboard {
  margin-top: 70px;
}
.dashboard h3,
.dashboard p {
  margin-bottom: 20px;
}
.link {
  color: black;
  text-decoration: none;
}
.link:hover {
  color: rgba(0, 0, 0, 0.671);
}
.footer {
  background-color: whitesmoke;
  margin-top: 50px;
  padding-bottom: 20px;
  width: 100%;
}
.footer p {
  padding: 20px 0 5px 0;
  margin-bottom: 0;
}
.message {
  color: rgb(197, 15, 15);
  font-size: 14px;
  text-align: left;
  padding-left: 5rem;
}
:disabled {
  background-color: rgba(0, 0, 0, 0.500);
  transition: background-color 2s;
  cursor: not-allowed;
}
.checkbox {
  display: inline-flex;
  width: 80%;
}
.checkbox input,
.checkbox input:focus {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  transition: background-color 1s;
}
.checkbox label {
  margin-top: 30px;
  padding-left: 10px;
}
input[type="checkbox" i] {
  appearance: none;
}
input[type="checkbox" i]:checked{
  appearance: checkbox;
}
